body {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: auto;
    height: 500px;
}
button {
    background-color: plum;
    width: 300px;
    height: 50px;
}
#message {
    padding: 20px;
}